<script setup lang="ts">
import { NSpace, NDivider, NText } from "naive-ui";
import type { CombatSimulationLog } from "@/schemas";

const props = defineProps<{
  log: CombatSimulationLog;
}>();
</script>

<template>
  <n-space justify="start">
    {{ props.log.formattedTimestamp() }}
    <n-divider vertical />
    <n-text
      :type="log.type"
      :italic="log.italic"
      :strong="log.bold"
      :underline="log.underline"
      >{{ props.log.formattedText() }}</n-text
    >
  </n-space>
</template>

<style scoped></style>
