<script setup lang="ts">
import { NTag, NPopover, NUl, NLi } from "naive-ui";
import type { SpecialAbility } from "@/schemas";

const props = defineProps<{
  specialAbility: SpecialAbility;
}>();
</script>

<template>
  <n-popover>
    <template #trigger>
      <n-tag type="info">
        {{ props.specialAbility.name }}
      </n-tag>
    </template>
    <n-ul>
      <n-li
        v-for="(ref, index) in props.specialAbility.references"
        :key="index"
      >
        {{ ref.str }}
      </n-li>
    </n-ul>
  </n-popover>
</template>

<style scoped></style>
