<script setup lang="ts">
import { NDataTable } from "naive-ui";
import type { DataTableColumns } from "naive-ui";
import router from "@/router";
import { getNDataTableFilterOptionFromEnum } from "@/util";
import { getObjectsStore } from "@/stores";
import type { AlchimicProduct } from "@/schemas";
import { AlchimicProductType, ObjectType } from "@/schemas";

const objectStore = getObjectsStore();

const pagination = {
  pageSize: 10,
};

const tableColumns: DataTableColumns<AlchimicProduct> = [
  {
    title: "Name",
    key: "name",
    sorter: "default",
  },
  {
    title: "Typ",
    key: "type",
    sorter: "default",
    filterOptions: getNDataTableFilterOptionFromEnum(AlchimicProductType),
    filter: "default",
  },
];

const rowProps = (alchimie: AlchimicProduct) => {
  return {
    style: "cursor: pointer",
    onClick: () => {
      router.push({
        name: "db",
        params: { type: ObjectType.alchimicProduct, name: alchimie.name },
      });
    },
  };
};
</script>

<template>
  <n-data-table
    striped
    :columns="tableColumns"
    :data="objectStore.alchimicProductsList"
    :pagination="pagination"
    :row-props="rowProps"
  />
</template>

<style scoped lang="scss"></style>
