<script setup lang="ts">
import { NDataTable, NTag, NButton, NSpace } from "naive-ui";
import type { DataTableColumns } from "naive-ui";
import router from "@/router";
import { ObjectType, type Plant } from "@/schemas";
import { getNDataTableFilterOptionFromEnum, isLargeDesktop } from "@/util";
import { h, computed, reactive, ref } from "vue";
import type { FilterOption } from "naive-ui/lib/data-table/src/interface";
import { getObjectsStore } from "@/stores";
import ShortTag from "@/components/global/basic/ShortTag.vue";
import { AventuricArea, getAllSpreads, PlantType } from "@/schemas";

const objectStore = getObjectsStore();

const pagination = reactive({
  pageSize: 10,
  size: "large",
  "page-slot": 4,
});

function spreadNDataTableFilterOptions() {
  const options: FilterOption[] = [];
  getAllSpreads().forEach((spread) => {
    options.push({
      label: spread.str(),
      value: spread.str(),
    });
  });
  return options;
}

const tableColumns = computed(() => {
  const columns: DataTableColumns<Plant> = [];
  columns.push({
    title: "Name",
    key: "name",
    sorter: "default",
    minWidth: 100,
  });

  columns.push({
    title: "Typen",
    key: "types",
    filterOptions: getNDataTableFilterOptionFromEnum(PlantType),
    // @ts-ignore:next-line
    filter(value: string, plant: Plant) {
      // @ts-ignore:next-line
      return plant.types.includes(value);
    },
    render(plant: Plant) {
      return plant.types.map((plantType) => {
        return h(
          NTag,
          {
            type: "info",
          },
          {
            default: () => plantType,
          }
        );
      });
    },
  });

  if (isLargeDesktop().value)
    columns.push({
      title: "Gebiet",
      key: "aventuricAreas",
      filterOptions: getNDataTableFilterOptionFromEnum(AventuricArea),
      // @ts-ignore:next-line
      filter(value: string, plant: Plant) {
        // @ts-ignore:next-line
        return plant.aventuricAreas.includes(value);
      },
      render(plant: Plant) {
        return plant.aventuricAreas.map((aventuricAreaString) => {
          return h(ShortTag, {
            maxLength: 15,
            content: aventuricAreaString,
          });
        });
      },
    });

  columns.push({
    title: "Verbreitung",
    key: "spread",
    filterOptions: spreadNDataTableFilterOptions(),
    // @ts-ignore:next-line
    filter(value: string, plant: Plant) {
      let found = false;
      plant.spread().forEach((spread) => {
        if (value === spread.str()) found = true;
      });
      return found;
    },
    render(plant: Plant) {
      return plant.spread().map((spread) => {
        return h(ShortTag, {
          maxLength: 25,
          content: spread.str(),
        });
      });
    },
  });

  return columns;
});

const rowProps = (plant: Plant) => {
  return {
    style: "cursor: pointer",
    onClick: () => {
      router.push({
        name: "db",
        params: { type: ObjectType.plant, name: plant.name },
      });
    },
  };
};

function clearFilters() {
  tableRef.value.filter(null);
}
function clearSorter() {
  tableRef.value.sort(null);
}

const tableRef = ref(null);
const plant_list = objectStore.plantsList;
</script>

<template>
  <n-space style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px">
    <n-button @click="clearFilters">Filter zurücksetzen</n-button>
    <n-button @click="clearSorter">Sortierung zurücksetzen</n-button>
  </n-space>
  <n-data-table
    ref="tableRef"
    size="small"
    striped
    :columns="tableColumns"
    :data="plant_list"
    :pagination="pagination"
    :row-props="rowProps"
  />
</template>

<style scoped lang="scss"></style>
