<script setup lang="ts">
import { useRoute } from "vue-router";
import { ObjectType } from "@/schemas";
import AlchimicProduct from "@/components/database/AlchimicProduct.vue";
import Animal from "@/components/database/Animal.vue";
import Equipment from "@/components/database/Equipment.vue";
import Plant from "@/components/database/Plant.vue";
import PlantPart from "@/components/database/PlantPart.vue";

const route = useRoute();

const type = route.params.type;
const name = route.params.name;
</script>

<template>
  <AlchimicProduct
    v-if="type === ObjectType.alchimicProduct"
    :alchimistic-product-name="String(name)"
  />
  <Animal v-if="type === ObjectType.animal" :animal-name="String(name)" />
  <Equipment
    v-if="type === ObjectType.equipment"
    :equipment-name="String(name)"
  />
  <Plant v-if="type === ObjectType.plant" :plant-name="String(name)" />
  <PlantPart
    v-if="type === ObjectType.plantPart"
    :plant-part-name="String(name)"
  />
</template>

<style scoped lang="scss"></style>
