<script setup lang="ts">
import { NCard } from "naive-ui";
import { getObjectsStore } from "@/stores";
const objectStore = getObjectsStore();

const ingredients: string[] = [];

for (const productKey in objectStore.alchimicProducts) {
  const product = objectStore.alchimicProducts[productKey];
  for (const ingredient of product.recipeIngredients) {
    const name = ingredient.ingredient.name;
    if (!ingredients.includes(name) && !name.search("not Found"))
      ingredients.push(ingredient.ingredient.name);
  }
}
</script>

<template>
  <n-card title="Herzlich Wilkommen bei den DSA-Tools"> </n-card>
  <h3>to be added</h3>
  <ul>
    <li v-for="ing in ingredients" :key="ing">{{ ing }}</li>
  </ul>
</template>

<style scoped></style>
