<script setup lang="ts"></script>

<template>
  <div class="flexbox">
    <a href="https://xkcd.com/1969/">
      <img src="https://imgs.xkcd.com/comics/not_available.png" />
    </a>
  </div>
</template>

<style lang="scss" scoped>
.flexbox {
  display: flex;
  // centering along main axis - X axis - Horizontal
  justify-content: center;
  // centering along cross axis - Y axis - Vertical
  align-items: center;

  a {
    img {
      width: 300%;
    }
  }
}
</style>
