<script setup lang="ts">
import { NDataTable } from "naive-ui";
import type { DataTableColumns } from "naive-ui";
import router from "@/router";
import { getObjectsStore } from "@/stores";
import { ObjectType, type Equipment } from "@/schemas";

const objectStore = getObjectsStore();

const pagination = {
  pageSize: 10,
};

const tableColumns: DataTableColumns<Equipment> = [
  {
    title: "Name",
    key: "name",
    sorter: "default",
  },
];

const rowProps = (equipment: Equipment) => {
  return {
    style: "cursor: pointer",
    onClick: () => {
      router.push({
        name: "db",
        params: { type: ObjectType.equipment, name: equipment.name },
      });
    },
  };
};
</script>

<template>
  <n-data-table
    striped
    :columns="tableColumns"
    :data="objectStore.equipmentList"
    :pagination="pagination"
    :row-props="rowProps"
  />
</template>

<style scoped lang="scss"></style>
