<script setup lang="ts">
import { NDataTable } from "naive-ui";
import type { DataTableColumns } from "naive-ui";
import router from "@/router";
import { ObjectType, type Animal } from "@/schemas";
import { getObjectsStore } from "@/stores";

const objectStore = getObjectsStore();

const pagination = {
  pageSize: 10,
};

const tableColumns: DataTableColumns<Animal> = [
  {
    title: "Name",
    key: "name",
    sorter: "default",
  },
];

const rowProps = (animal: Animal) => {
  return {
    style: "cursor: pointer",
    onClick: () => {
      router.push({
        name: "db",
        params: { type: ObjectType.animal, name: animal.name },
      });
    },
  };
};
</script>

<template>
  <n-data-table
    striped
    :columns="tableColumns"
    :data="objectStore.animalsList"
    :pagination="pagination"
    :row-props="rowProps"
  />
</template>

<style scoped lang="scss"></style>
