<script setup lang="ts">
import { NGrid } from "naive-ui";

const props = defineProps<{
  xsCols: { type: number; required: false; default: 1 };
  sCols: { type: number; required: false; default: 2 };
  mCols: { type: number; required: false; default: 3 };
  lCols: { type: number; required: false; default: 4 };
  xlCols: { type: number; required: false; default: 5 };
  xxlCols: { type: number; required: false; default: 6 };
}>();

function getColumnCount(): string {
  return `${props.xsCols} s:${props.sCols} m:${props.mCols} l:${props.lCols} xl:${props.xlCols} 2xl:${props.xxlCols}`;
}
</script>

<template>
  <div class="grid-container">
    <n-grid :x-gap="12" :y-gap="8" :cols="getColumnCount()" responsive="screen">
      <slot></slot>
    </n-grid>
  </div>
</template>

<style scoped lang="scss">
.grid-container {
  padding: 5%;
}
</style>
