<script setup lang="ts">
import { NTag, NPopover, NText } from "naive-ui";

interface Props {
  content: string;
  maxLength?: number;
  type?: "info" | "success" | "warning" | "error" | "default" | "primary";
}

const props = withDefaults(defineProps<Props>(), {
  maxLength: 15,
  type: "info",
});

const shortContent = `${props.content.substring(0, props.maxLength)}...`;
</script>

<template>
  <n-tag v-if="props.content.length <= props.maxLength" :type="props.type">
    {{ content }}
  </n-tag>
  <n-popover v-else>
    <template #trigger>
      <n-tag :type="props.type">
        {{ shortContent }}
      </n-tag>
    </template>
    <n-text>{{ props.content }}</n-text>
  </n-popover>
</template>

<style scoped></style>
