<script setup lang="ts">
import { isMobile, isTablet } from "@/util";
import { computed, ref } from "vue";
import { NLayout } from "naive-ui";

////////////////////////////////////////////////////////////////////////////////
//                             optix                                          //
////////////////////////////////////////////////////////////////////////////////
function getPadding() {
  if (isMobile().value || isTablet().value) {
    return { "padding-left": "0%", "padding-right": "0%" };
  }
  return { "padding-left": "25%", "padding-right": "25%" };
}
const spacerStyle = ref(
  computed(() => {
    return { ...getPadding() };
  })
);
</script>

<template>
  <n-layout>
    <div class="spacer" :style="spacerStyle">
      <slot></slot>
    </div>
  </n-layout>
</template>

<style scoped></style>
