<script setup lang="ts">
import { NList, NListItem } from "naive-ui";
import { getObjectsStore } from "@/stores";
import EntryModal from "@/components/database/EntryModal.vue";

const props = defineProps<{
  alchimisticProductName: string;
}>();

const objectsStore = getObjectsStore();

const alchimisticProduct =
  objectsStore.alchimicProducts[props.alchimisticProductName];
</script>

<template>
  <n-list bordered>
    <template #header>
      <h1>{{ alchimisticProduct.name }}</h1>
    </template>
    <template #footer></template>
    <n-list-item>
      <template #prefix> <div class="category">Typ</div></template>
      {{ alchimisticProduct.types }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Beschaffung</div></template>
      {{ alchimisticProduct.aquisition.str }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Zutaten</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li
          v-for="ingredient in alchimisticProduct.recipeIngredients"
          :key="ingredient.ingredient.name"
        >
          {{ ingredient.amount.str }}
          <EntryModal
            :name="ingredient.ingredient.name"
            :type="ingredient.ingredient.objectType"
          />
        </li>
      </ul>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Zubereitung</div></template>
      {{ alchimisticProduct.recipeDescription }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Labor</div></template>
      {{ alchimisticProduct.laboratory }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Modifikatoren</div></template>
      {{
        alchimisticProduct.creating.brewing
          ? alchimisticProduct.creating.brewing.value
          : "-"
      }}
      /
      {{
        alchimisticProduct.creating.analysis
          ? alchimisticProduct.creating.analysis.value
          : "-"
      }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Wirkung</div></template>
      {{ alchimisticProduct.effect }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Verbreitung</div></template>
      {{ alchimisticProduct.spread.value }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Merkmale</div></template>
      {{ alchimisticProduct.characteristics }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Haltbarkeit</div></template>
      {{ alchimisticProduct.durability.str }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Preis</div></template>
      {{ alchimisticProduct.price.str }}
    </n-list-item>
    <n-list-item v-if="alchimisticProduct.poisonStart">
      <template #prefix> <div class="category">Gift Beginn</div></template>
      {{ alchimisticProduct.poisonStart.str }}
    </n-list-item>
    <n-list-item v-if="alchimisticProduct.poisonLevel">
      <template #prefix> <div class="category">Giftstufe</div></template>
      {{ alchimisticProduct.poisonLevel }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Meisterinfo</div></template>
      {{ alchimisticProduct.gmAdvice }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Zutat von</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li
          v-for="alchemicProduct in alchimisticProduct.alchimicProducts"
          :key="alchemicProduct.name"
        >
          <EntryModal
            :name="alchemicProduct.name"
            :type="alchemicProduct.objectType"
          />
        </li>
      </ul>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Referenzen</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li
          v-for="reference in alchimisticProduct.references"
          :key="reference.str"
        >
          {{ reference.str }}
        </li>
      </ul>
    </n-list-item>
  </n-list>
</template>

<style scoped lang="scss">
.category {
  text-align: right;
  min-width: 5vw;
}
.list-content {
  max-width: 20vw;
  display: block;
  text-align: left;
}
</style>
