<script setup lang="ts">
import { NList, NListItem, NEllipsis } from "naive-ui";
import { getObjectsStore } from "@/stores";

const props = defineProps<{
  animalName: string;
}>();

const objectsStore = getObjectsStore();
const animal = objectsStore.animals[props.animalName];
</script>

<template>
  <n-list bordered>
    <template #header>
      <h1>{{ animal.name }}</h1>
    </template>
    <template #footer></template>
    <n-list-item>
      <template #prefix> <div class="category">Preis</div></template>
      <n-ellipsis
        expand-trigger="click"
        line-clamp="1"
        :tooltip="false"
        class="list-content"
      >
        Lorem Ipsum
      </n-ellipsis>
    </n-list-item>
  </n-list>
</template>

<style scoped lang="scss">
.category {
  text-align: right;
  min-width: 5vw;
}
.list-content {
  max-width: 20vw;
  display: block;
  text-align: left;
}
</style>
