<script setup lang="ts">
import { NModal } from "naive-ui";
import { ref } from "vue";
import AlchimicProduct from "@/components/database/AlchimicProduct.vue";
import Animal from "@/components/database/Animal.vue";
import Equipment from "@/components/database/Equipment.vue";
import Plant from "@/components/database/Plant.vue";
import { ObjectType } from "@/schemas";
import PlantPart from "@/components/database/PlantPart.vue";

const props = defineProps<{
  type: ObjectType;
  name: string;
}>();

const showModal = ref(false);

function openModal() {
  showModal.value = true;
}

const bodyStyle = {
  "min-width": "200px",
  "max-width": "800px",
};
</script>

<template>
  <a class="modalRef" @click="openModal">{{ props.name }}</a>
  <n-modal
    v-model:show="showModal"
    class="custom-card"
    preset="card"
    :style="bodyStyle"
    :bordered="false"
    size="huge"
  >
    <AlchimicProduct
      v-if="props.type === ObjectType.alchimicProduct"
      :alchimistic-product-name="props.name"
    />
    <Animal v-if="props.type === ObjectType.animal" :animal-name="props.name" />
    <Equipment
      v-if="props.type === ObjectType.equipment"
      :equipment-name="props.name"
    />
    <Plant v-if="props.type === ObjectType.plant" :plant-name="props.name" />
    <PlantPart
      v-if="props.type === ObjectType.plantPart"
      :plant-part-name="props.name"
    />
  </n-modal>
</template>

<style scoped lang="scss">
.modalRef {
  color: rgb(185, 136, 242);
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}
.modalRef:hover {
  color: rgb(116, 36, 209);
}
</style>
