<script setup lang="ts">
import { NList, NListItem, NEllipsis } from "naive-ui";
import { getObjectsStore } from "@/stores";

const props = defineProps<{
  equipmentName: string;
}>();

const objectsStore = getObjectsStore();

const equipment = objectsStore.equipment[props.equipmentName];
</script>

<template>
  <n-list bordered>
    <template #header>
      <h1>{{ equipment.name }}</h1>
    </template>
    <template #footer></template>
    <n-list-item>
      <template #prefix> <div class="category">Preis</div></template>
      <n-ellipsis
        expand-trigger="click"
        line-clamp="1"
        :tooltip="false"
        class="list-content"
      >
        {{ equipment.price.str }}
      </n-ellipsis>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Gewicht</div></template>
      <n-ellipsis
        expand-trigger="click"
        line-clamp="1"
        :tooltip="false"
        class="list-content"
      >
        {{ equipment.weight.str }}
      </n-ellipsis>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Referenzen</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li v-for="reference in equipment.references" :key="reference.str">
          {{ reference.str }}
        </li>
      </ul>
    </n-list-item>
  </n-list>
</template>

<style scoped lang="scss">
.category {
  text-align: right;
  min-width: 5vw;
}
.list-content {
  max-width: 20vw;
  display: block;
  text-align: left;
}
</style>
