<script setup lang="ts">
import { NList, NListItem, NEllipsis } from "naive-ui";
import { getObjectsStore } from "@/stores";
import { ObjectType } from "@/schemas";
import EntryModal from "@/components/database/EntryModal.vue";

const props = defineProps<{
  plantPartName: string;
}>();

const objectsStore = getObjectsStore();

const plantPart = objectsStore.plantParts[props.plantPartName];
</script>

<template>
  <n-list bordered style="margin-top: 0; margin-bottom: 0">
    <template #header>
      <h1>{{ plantPart.name }}</h1>
    </template>
    <n-list-item>
      <template #prefix> <div class="category">Haltbarkeit</div></template>
      {{ plantPart.durabilityStr }}
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Preis</div></template>
      {{ plantPart.priceStr }}
    </n-list-item>
    <n-list-item v-if="plantPart.poisonStart">
      <template #prefix> <div class="category">Gift Beginn</div></template>
      {{ plantPart.poisonStart.str }}
    </n-list-item>
    <n-list-item v-if="plantPart.poisonLevel">
      <template #prefix> <div class="category">Giftstufe</div></template>
      {{ plantPart.poisonLevel }}
    </n-list-item>
    <n-list-item>
      <template #prefix>
        <div class="category">Dosis und Wirkung</div></template
      >
      <n-ellipsis
        expand-trigger="click"
        line-clamp="1"
        :tooltip="false"
        class="list-content"
      >
        {{ plantPart.doseAndEffect }}
      </n-ellipsis>
    </n-list-item>
    <n-list-item>
      <template #prefix>
        <div class="category">Alchimistische Verwendung</div></template
      >
      <ul class="list-content" style="list-style-type: circle">
        <li v-for="product in plantPart.alchimicProducts" :key="product.name">
          <EntryModal :type="ObjectType.alchimicProduct" :name="product.name" />
        </li>
      </ul>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Besonderheiten</div></template>
      <n-ellipsis
        expand-trigger="click"
        line-clamp="1"
        :tooltip="false"
        class="list-content"
      >
        {{ plantPart.specialNotes }}
      </n-ellipsis>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Herkunft</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li v-for="plant in plantPart.plants" :key="plant.name">
          <EntryModal :type="ObjectType.plant" :name="plant.name" />
        </li>
      </ul>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Referenzen</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li v-for="reference in plantPart.references" :key="reference.str">
          {{ reference.str }}
        </li>
      </ul>
    </n-list-item>
  </n-list>
</template>

<style scoped lang="scss">
.category {
  text-align: right;
  min-width: 95px;
  padding-right: 5px;
}
.list-content {
  max-width: 50vw;
  display: block;
  text-align: left;
}
ul {
  padding-left: 0;
}
</style>
