<script setup lang="ts">
import { NList, NListItem, NSpace, NTable, NUl, NLi, NAlert } from "naive-ui";
import { getObjectsStore } from "@/stores";
import EntryModal from "@/components/database/EntryModal.vue";
import { ObjectType } from "@/schemas";

const props = defineProps<{
  plantName: string;
}>();

const objectsStore = getObjectsStore();

const plant = objectsStore.plants[props.plantName];
</script>

<template>
  <n-list bordered style="margin-top: 0; margin-bottom: 0">
    <template #header>
      <h1>{{ plant.name }}</h1>
    </template>
    <n-list-item>
      <template #prefix> <div class="category">Typ</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li v-for="type in plant.types" :key="type">
          {{ type }}
        </li>
      </ul>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Gebiet</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li v-for="area in plant.aventuricAreas" :key="area">
          {{ area }}
        </li>
      </ul>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Verbreitung</div></template>
      <n-alert v-if="plant.customSpread !== undefined" type="info">
        Die Verbreitung ist abhängig von mehreren anderen Faktoren. Schlage dies
        in den Referenzen nach.
      </n-alert>
      <ul class="list-content" style="list-style-type: circle">
        <li v-for="spread in plant.spread()" :key="spread.str()">
          {{ spread.str() }}
        </li>
      </ul>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Ernte</div></template>
      <n-alert v-if="plant.customHarvestAmount !== undefined" type="info">
        Die Erntemenge ist abhängig von mehreren anderen Faktoren. Schlage dies
        in den Referenzen nach.
      </n-alert>
      <n-alert
        v-if="plant.customIdentificationModifier !== undefined"
        type="info"
      >
        Der Identifikationsmodifikator ist abhängig von mehreren anderen
        Faktoren. Schlage dies in den Referenzen nach.
      </n-alert>
      <n-space vertical>
        <n-table
          striped
          size="small"
          :single-line="false"
          :single-column="false"
        >
          <thead>
            <tr>
              <th>Monat</th>
              <th>Identifikation</th>
              <th>Ernte</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="harvestMonthID in Object.keys(plant.harvestTime)"
              :key="harvestMonthID"
            >
              <td>{{ plant.harvestTime[harvestMonthID] }}</td>
              <td>
                {{
                  plant.identificationModifier(
                    plant.harvestTime[harvestMonthID]
                  ).value
                }}
              </td>
              <td>
                <n-ul>
                  <n-li
                    v-for="plantPartID in Object.keys(
                      plant.harvestAmount(plant.harvestTime[harvestMonthID])
                    )"
                    :key="plantPartID"
                  >
                    <EntryModal
                      :type="ObjectType.plantPart"
                      :name="
                        plant.harvestAmount(plant.harvestTime[harvestMonthID])[
                          plantPartID
                        ].plantPart.name
                      "
                    />
                    ({{
                      plant.harvestAmount(plant.harvestTime[harvestMonthID])[
                        plantPartID
                      ].amount.str
                    }}{{
                      plant.harvestAmount(plant.harvestTime[harvestMonthID])[
                        plantPartID
                      ].factor
                        ? " x "
                        : ""
                    }}{{
                      plant.harvestAmount(plant.harvestTime[harvestMonthID])[
                        plantPartID
                      ].factor
                        ? plant.harvestAmount(
                            plant.harvestTime[harvestMonthID]
                          )[plantPartID].factor.str
                        : ""
                    }})
                  </n-li>
                </n-ul>
              </td>
            </tr>
          </tbody>
        </n-table>
      </n-space>
    </n-list-item>
    <n-list-item>
      <template #prefix> <div class="category">Referenzen</div></template>
      <ul class="list-content" style="list-style-type: circle">
        <li v-for="reference in plant.references" :key="reference.str">
          {{ reference.str }}
        </li>
      </ul>
    </n-list-item>
  </n-list>
</template>

<style scoped lang="scss">
.category {
  text-align: right;
  min-width: 95px;
  padding-right: 5px;
}
.list-content {
  max-width: 50vw;
  display: block;
  text-align: left;
}
ul {
  padding-left: 0;
}
</style>
