<script setup lang="ts">
import { RouterView, useRouter } from "vue-router";
import { NConfigProvider, NLayout, NMenu, NLayoutSider } from "naive-ui";
import type { MenuOption } from "naive-ui";
import { getObjectsStore, getSettingsStore } from "@/stores";
import { isMobile } from "@/util";
import Header from "@/components/global/Header.vue";
import Footer from "@/components/global/Footer.vue";

const settingsStore = getSettingsStore();
const objectsStore = getObjectsStore();
objectsStore.ready = true;
const router = useRouter();

////////////////////////////////////////////////////////////////////////////////
//                             menu                                           //
////////////////////////////////////////////////////////////////////////////////
const menuOptions: MenuOption[] = [
  {
    label: "Home",
    key: "home",
  },
  {
    label: "Pflanzen",
    key: "plantsTools",
    children: [
      {
        label: "Suche",
        key: "plantsSearch",
      },
    ],
  },
  {
    label: "Tiere",
    key: "animalsTools",
    children: [
      {
        label: "Suche",
        key: "animalsSearch",
      },
    ],
  },
  {
    label: "Ausrüstung",
    key: "equipmentTools",
    children: [
      {
        label: "Suche",
        key: "equipmentSearch",
      },
    ],
  },
  {
    label: "Alchimische Produkte",
    key: "alchimicProducsTools",
    children: [
      {
        label: "Suche",
        key: "alchimicProducsSearch",
      },
      {
        label: "Brauen",
        key: "alchimicProducsBrewing",
      },
    ],
  },
  {
    label: "Metatalente",
    key: "metaTalentsTools",
    children: [
      {
        label: "Angeln/Fischen",
        key: "metaTalentsFishing",
      },
      {
        label: "Nahrung sammeln",
        key: "metaTalentsGatherFood",
      },
      {
        label: "Kräuter suchen",
        key: "metaTalentsGatherHerbs",
      },
      {
        label: "Pirschjagd",
        key: "metaTalentsStalkingHunt",
      },
      {
        label: "Ansitzjagd",
        key: "metaTalentsStationaryHunt",
      },
      {
        label: "Fallenstellen",
        key: "metaTalentsTrapping",
      },
      {
        label: "Wache halten",
        key: "metaTalentsKeepWatch",
      },
    ],
  },
  {
    label: "Kampf",
    key: "combatTools",
    children: [
      {
        label: "Basics",
        key: "combatBasics",
      },
      {
        label: "Organisator",
        key: "combatOrganiser",
      },
    ],
  },
];

function handleMenuClick(key: string) {
  if (key) {
    router.push({ name: key });
  }
}
</script>

<template>
  <n-config-provider :theme="settingsStore.theme">
    <n-layout
      :position="isMobile() ? 'static' : 'absolute'"
      class="root-layout"
      style="max-height: 100vh"
    >
      <Header />
      <n-layout has-sider v-if="objectsStore.ready" style="height: 88vh">
        <n-layout-sider
          bordered
          show-trigger
          collapse-mode="width"
          :collapsed-width="15"
          :width="220"
          :native-scrollbar="false"
          style="height: 100%"
        >
          <n-menu
            :value="String(router.currentRoute.value.name)"
            :collapsed-width="50"
            :collapsed-icon-size="22"
            :options="menuOptions"
            @update:value="handleMenuClick"
            style="height: 100%"
          />
        </n-layout-sider>
        <n-layout class="content" :native-scrollbar="false">
          <router-view />
        </n-layout>
      </n-layout>
      <Footer />
    </n-layout>
  </n-config-provider>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;

  a:visited {
    color: #b988f2ff;
  }

  .content {
    min-height: 85vh;
  }

  .n-menu-item-content-header {
    display: flex;
  }
}
</style>
