<script setup lang="ts">
import {
  NCollapse,
  NCollapseItem,
  NRadioGroup,
  NRadio,
  NCheckbox,
  NSpace,
  NSelect,
  NSwitch,
  NInputNumber,
  NEllipsis,
  NButton,
  NList,
  NListItem,
} from "naive-ui";
import { computed, ref } from "vue";
import type {
  BaseAttribute,
  Reference,
  Talent,
  SpecialAbility,
} from "@/schemas";
import type { SelectMixedOption } from "naive-ui/lib/select/src/interface";

const props = defineProps<{
  name: string;
  attributesToRoll: BaseAttribute[];
  talents: talentType[];
  difficulties?: Array<Record<string, number>>;
  difficultyFlat?: number;
  time: number;
  timeBoni?: timeBonusType;
  boni?: bonusType[];
  multiplicativeBoni?: muticativeBonusType[];
  xorBoni?: Array<bonusType[]>;
  mali?: malusType[];
  xorMali?: Array<malusType[]>;
  references: Reference[];
}>();

type talentType = [Talent, number];
type talentModelType = [boolean, number, number];
type bonusType = [SpecialAbility, number];
type muticativeBonusType = [string, number, number];
type timeBonusType = [number, number];
type malusType = [SpecialAbility, number];
type dataModelType = {
  talents: Record<string, talentModelType>;
  difficulties: number[];
  actions: number;
  boni: Record<string, [boolean, number]>;
  timeBoni: number;
  multiplicativeBoni: Array<boolean>;
  xorBoni: Record<number | string, number>;
  mali: Record<string, [boolean, number]>;
  xorMali: Record<number | string, number>;
};

function buildDataModel(): dataModelType {
  const model: dataModelType = {
    talents: {},
    difficulties: [],
    actions: 1,
    timeBoni: 0,
    boni: {},
    multiplicativeBoni: [],
    xorBoni: {},
    mali: {},
    xorMali: {},
  };

  if (props.difficulties) {
    props.difficulties.forEach((difficultySet) => {
      model.difficulties.push(difficultySet[Object.keys(difficultySet)[0]]);
    });
  }
  props.talents.forEach((talent: talentType) => {
    model.talents[talent[0].name] = [true, 0, talent[1]];
  });

  if (props.boni) {
    props.boni.forEach((value: bonusType) => {
      model.boni[value[0].name] = [false, value[1]];
    });
  }
  if (props.multiplicativeBoni) {
    props.multiplicativeBoni.forEach(
      (value: muticativeBonusType, index: number) => {
        model.multiplicativeBoni[index] = false;
      }
    );
  }
  if (props.xorBoni) {
    Object.keys(props.xorBoni).forEach((value) => {
      model.xorBoni[value] = 0;
    });
  }

  if (props.mali) {
    props.mali.forEach((value: malusType) => {
      model.mali[value[0].name] = [false, value[1]];
    });
  }
  if (props.xorMali) {
    Object.keys(props.xorMali).forEach((value) => {
      model.xorMali[value] = 0;
    });
  }

  return model;
}

function getAttributesString() {
  let str = "";
  props.attributesToRoll.forEach((attr: BaseAttribute) => {
    str = str + `${attr.shortName}/`;
  });
  str = `(${str.slice(0, -1)})`;
  return str;
}

function getDifficultyOptions(difficultyID: number) {
  if (!props.difficulties) {
    return [];
  }
  const options: SelectMixedOption[] = [];
  for (const difficultyKey in props.difficulties[difficultyID]) {
    options.push({
      label: difficultyKey,
      value: props.difficulties[difficultyID][difficultyKey],
    });
  }
  return options;
}

const dataModel = ref<dataModelType>(buildDataModel());

const calculateMetaTalentValue = computed(() => {
  let taw = 0;

  let factorsSum = 0;
  let offTaw = 0;

  Object.keys(dataModel.value.talents).forEach((talent: string) => {
    if (dataModel.value.talents[talent][0]) {
      if (dataModel.value.talents[talent][2] >= 1) {
        factorsSum += dataModel.value.talents[talent][2];
        taw = taw + dataModel.value.talents[talent][1];
      } else {
        offTaw +=
          dataModel.value.talents[talent][1] *
          dataModel.value.talents[talent][2];
      }
    }
  });
  dataModel.value.multiplicativeBoni.forEach(
    (value: boolean, index: number) => {
      if (value && props.multiplicativeBoni) {
        taw = taw * props.multiplicativeBoni[index][2];
      }
    }
  );

  taw = Math.round(taw / factorsSum) + Math.round(offTaw);

  if (props.timeBoni) {
    taw =
      taw +
      Math.min(
        Math.round(taw / 2),
        dataModel.value.timeBoni * props.timeBoni[1]
      );
  }

  let modifier = 0;

  dataModel.value.difficulties.forEach((difficulty: number) => {
    modifier = modifier + difficulty;
  });

  if (props.difficultyFlat) {
    modifier = modifier + props.difficultyFlat;
  }

  Object.keys(dataModel.value.boni).forEach((bonus: string) => {
    if (dataModel.value.boni[bonus][0]) {
      modifier = modifier + dataModel.value.boni[bonus][1];
    }
  });
  Object.keys(dataModel.value.xorBoni).forEach((bonus) => {
    modifier = modifier + dataModel.value.xorBoni[bonus];
  });

  Object.keys(dataModel.value.mali).forEach((malus: string) => {
    if (dataModel.value.mali[malus][0]) {
      modifier = modifier + dataModel.value.mali[malus][1];
    }
  });
  Object.keys(dataModel.value.xorMali).forEach((malus) => {
    modifier = modifier + dataModel.value.xorMali[malus];
  });

  return taw + modifier;
});

const xorBonusGroup = (xorBonusGroupID: number | undefined) => {
  if (xorBonusGroupID === undefined) return [];
  return props.xorBoni ? props.xorBoni[xorBonusGroupID] : [];
};
const xorMalusGroup = (xorMalusGroupID: number | undefined) => {
  if (xorMalusGroupID === undefined) return [];
  return props.xorMali ? props.xorMali[xorMalusGroupID] : [];
};
const usedTime = computed(() => {
  let time = dataModel.value.actions * props.time;
  if (props.timeBoni) {
    time =
      time +
      dataModel.value.timeBoni * props.timeBoni[0] * dataModel.value.actions;
  }
  dataModel.value.multiplicativeBoni.forEach(
    (value: boolean, index: number) => {
      if (value && props.multiplicativeBoni) {
        time = time * props.multiplicativeBoni[index][1];
      }
    }
  );
  return time;
});
</script>

<template>
  <n-space vertical>
    <n-list bordered>
      <template #header>
        <h1>{{ props.name + " " + getAttributesString() }}</h1>
      </template>
      <n-list-item>
        <template #prefix> <div class="category">Beschreibung</div></template>
        <n-ellipsis
          expand-trigger="click"
          line-clamp="1"
          :tooltip="false"
          class="list-content"
        >
          <slot> Keine Beschreibung vorhanden. </slot>
        </n-ellipsis>
      </n-list-item>
      <n-list-item>
        <template #prefix> <div class="category">Bemerkungen</div></template>
        <n-ellipsis
          expand-trigger="click"
          line-clamp="1"
          :tooltip="false"
          class="list-content"
        >
          Unten kannst du deine Talentwerte, Boni und Meisterzuschläge
          eintragen. Beachte, dass Boni nie die Mali übersteigen können!
        </n-ellipsis>
      </n-list-item>
      <n-list-item>
        <template #prefix> <div class="category">Referenzen</div></template>
        <ul class="list-content" style="list-style-type: circle">
          <li v-for="reference in props.references" :key="reference.str">
            {{ reference.str }}
          </li>
        </ul>
      </n-list-item>
      <n-list-item>
        <template #prefix> <div class="category">Talentwert</div></template>
        <n-ellipsis
          expand-trigger="click"
          line-clamp="1"
          :tooltip="false"
          class="list-content"
        >
          {{ calculateMetaTalentValue }}
          {{ calculateMetaTalentValue < 0 ? "(nicht möglich)" : "" }}
        </n-ellipsis>
      </n-list-item>
      <n-list-item>
        <template #prefix> <div class="category">Dauer (Würfe)</div></template>
        <n-ellipsis
          expand-trigger="click"
          line-clamp="1"
          :tooltip="false"
          class="list-content"
        >
          {{ `${usedTime} Stunden (${dataModel.actions})` }}
        </n-ellipsis>
      </n-list-item>
    </n-list>
    <n-collapse>
      <n-collapse-item title="Talente" name="talents">
        <n-space
          align="center"
          v-for="talent in props.talents"
          :key="talent.name"
        >
          <n-switch v-model:value="dataModel.talents[talent[0].name][0]" />
          <n-ellipsis style="width: 5vw; text-align: left">{{
            talent[0].name
          }}</n-ellipsis>
          <n-input-number
            v-model:value="dataModel.talents[talent[0].name][1]"
            :disabled="!dataModel.talents[talent[0].name][0]"
            min="0"
            max="100"
            size="large"
          >
            <template #prefix> Taw </template>
          </n-input-number>
        </n-space>
      </n-collapse-item>
      <n-collapse-item
        v-if="props.difficulties"
        title="Schwierigkeit (Meisterentscheid)"
        name="difficulty"
      >
        <n-space
          v-for="difficultyID in Object.keys(props.difficulties)"
          align="center"
          :key="difficultyID"
        >
          <n-select
            style="width: 10vw"
            v-model:value="dataModel.difficulties[Number(difficultyID)]"
            :options="getDifficultyOptions(Number(difficultyID))"
          />
        </n-space>
        <n-space>
          <div v-if="props.difficultyFlat">
            Zusätzliche Schwierigkeit: {{ props.difficultyFlat }}
          </div>
        </n-space>
      </n-collapse-item>
      <n-collapse-item
        v-if="
          props.boni ||
          props.xorBoni ||
          props.timeBoni ||
          props.multiplicativeBoni
        "
        title="Boni"
        name="boni"
      >
        <n-space align="center" v-for="bonus in props.boni" :key="bonus[0]">
          <n-checkbox v-model:checked="dataModel.boni[bonus[0].name][0]">
            {{ `${bonus[0].name} (+${bonus[1]})` }}
          </n-checkbox>
        </n-space>
        <br />
        <div v-if="props.multiplicativeBoni">
          <n-space
            align="center"
            v-for="bonusID in Object.keys(props.multiplicativeBoni)"
            :key="bonusID"
          >
            <n-checkbox
              v-model:checked="dataModel.multiplicativeBoni[Number(bonusID)]"
            >
              {{
                `${props.multiplicativeBoni[Number(bonusID)][0]} (Zeit *${
                  props.multiplicativeBoni[Number(bonusID)][1]
                }, TaW *${props.multiplicativeBoni[Number(bonusID)][2]})`
              }}
            </n-checkbox>
          </n-space>
        </div>
        <br />
        <div v-if="props.timeBoni">
          <n-space>
            <n-input-number
              v-model:value="dataModel.timeBoni"
              min="0"
              max="100"
              size="large"
            />
            <n-ellipsis>
              Fuer jeweils {{ props.timeBoni[0] }} zusätzlich investierte Zeit
              erhälst du {{ props.timeBoni[1] }} TaP
            </n-ellipsis>
          </n-space>
        </div>
        <br />
        <div v-if="props.xorBoni">
          <n-space
            align="center"
            v-for="xorBonusGroupID in Object.keys(props.xorBoni)"
            :key="xorBonusGroupID"
          >
            <n-radio-group v-model:value="dataModel.xorBoni[xorBonusGroupID]">
              <n-radio
                v-for="bonus in xorBonusGroup(Number(xorBonusGroupID))"
                :key="bonus[0].name"
                :value="bonus[1]"
              >
                {{ `${bonus[0].name} (+${bonus[1]})` }}
              </n-radio>
            </n-radio-group>
            <n-button
              type="info"
              size="tiny"
              @click="dataModel.xorBoni[xorBonusGroupID] = 0"
              >Reset</n-button
            >
          </n-space>
        </div>
      </n-collapse-item>
      <n-collapse-item
        v-if="props.mali || props.xorMali"
        title="Mali"
        name="mali"
      >
        <n-space align="center" v-for="malus in props.mali" :key="malus[0]">
          <n-checkbox v-model:checked="dataModel.mali[malus[0].name][0]">
            {{ `${malus[0].name} (${malus[1]})` }}
          </n-checkbox>
        </n-space>
        <br />
        <div v-if="props.xorMali">
          <n-space
            align="center"
            v-for="xorMalusGroupID in Object.keys(props.xorMali)"
            :key="xorMalusGroupID"
          >
            <n-radio-group v-model:value="dataModel.xorMali[xorMalusGroupID]">
              <n-radio
                v-for="malus in xorMalusGroup(Number(xorMalusGroupID))"
                :key="malus[0]"
                :value="malus[1]"
              >
                {{ `${malus[0]} (${malus[1]})` }}
              </n-radio>
            </n-radio-group>
            <n-button
              type="info"
              size="tiny"
              @click="dataModel.xorMali[xorMalusGroupID] = 0"
              >Reset</n-button
            >
          </n-space>
        </div>
      </n-collapse-item>
      <n-collapse-item title="Zeitaufwendung" name="time">
        <n-space align="center">
          <n-space>
            <n-ellipsis>
              Eine {{ props.name }} dauert {{ props.time }} Stunden. Wie oft
              willst du arbeiten?
            </n-ellipsis>
          </n-space>
          <n-input-number
            v-model:value="dataModel.actions"
            min="1"
            max="100"
            size="large"
          >
            <template #prefix> Arbeitseinheiten </template>
          </n-input-number>
        </n-space>
      </n-collapse-item>
    </n-collapse>
  </n-space>
</template>

<style scoped lang="scss">
.category {
  text-align: right;
  min-width: 5vw;
}
.list-content {
  max-width: 20vw;
  display: block;
  text-align: left;
}
</style>
