<script setup lang="ts">
import {
  NCard,
  NAlert,
  NInputNumber,
  NInputGroup,
  NInputGroupLabel,
  NSpace,
  NButton,
  NIcon,
  NStatistic,
  NCheckbox,
  NPopover,
  NSelect,
  NH3,
  NInput,
} from "naive-ui";
import type { SelectOption, SelectGroupOption } from "naive-ui";
import { ref, watch } from "vue";
import type { CombatSimulation, Combatant } from "@/schemas";
import {
  getNSelectOptionsFromAction,
  ActionType,
  getActionObject,
  Action,
  SpecialAbility,
  combatantStatus,
} from "@/schemas";
import { CloseFilled, HeartBrokenFilled } from "@vicons/material";
import { HeartHalfSharp } from "@vicons/ionicons5";
import SpecialAbilityTag from "@/components/global/thematic/SpecialAbilityTag.vue";

const props = defineProps<{
  simulation: CombatSimulation;
}>();

let locked = false;
const currentCombatant = ref<Combatant | undefined>(
  props.simulation.getCurrentCombatant()
);
const heroHPChange = ref(0);
const bluntWeapon = ref(false);
const selectedActions = ref({
  action1: {
    name: "Angriffsaktion",
    duration: 0,
    diceModifier: 0,
    iniMalus: 0,
  },
  action2: {
    name: "Abwehraktion",
    duration: 0,
    diceModifier: 0,
    iniMalus: 0,
  },
});

const actionSelectionOptions: Array<SelectOption | SelectGroupOption> = [
  {
    type: "group",
    label: "reguläre Aktionen",
    key: "regular Action",
    children: getNSelectOptionsFromAction([ActionType.regular]),
  },
  {
    type: "group",
    label: "lange Aktionen",
    key: "long Action",
    children: getNSelectOptionsFromAction([ActionType.long]),
  },
];

function handleCombatPhaseAwarenessSelection() {
  if (currentCombatant?.value) {
    props.simulation.updateAwarenessSelection(true, currentCombatant.value?.id);
    props.simulation.rebuildCombatRound(
      currentCombatant.value?.id,
      currentCombatant?.value.selectedActionNumber || 1
    );
  }
}

watch(
  props.simulation,
  () => {
    currentCombatant.value = props.simulation.getCurrentCombatant();
    const combatant = currentCombatant?.value;
    if (!combatant) {
      return;
    }
    selectedActions.value = {
      action1: {
        name: combatant.action1?.name || Action.attack.name,
        duration: combatant.action1?.duration || 1,
        diceModifier: combatant.action1?.diceModifier || 0,
        iniMalus: combatant.action1?.iniMalus || 0,
      },
      action2: {
        name: combatant.action2?.name || Action.defense.name,
        duration: combatant.action2?.duration || 1,
        diceModifier: combatant.action2?.diceModifier || 0,
        iniMalus: combatant.action2?.iniMalus || 0,
      },
    };
    locked = true;
  },
  { deep: true }
);
watch(
  selectedActions,
  () => {
    if (locked) {
      locked = false;
      return;
    }
    const combatant = currentCombatant?.value;
    if (!combatant || !combatant.action1 || !combatant.action2) return;
    const action1 = getActionObject()[selectedActions.value.action1.name];
    action1.duration = selectedActions.value.action1.duration || 1;
    action1.diceModifier = selectedActions.value.action1.diceModifier || 0;
    action1.iniMalus = selectedActions.value.action1.iniMalus || 0;
    const action2 = getActionObject()[selectedActions.value.action2.name];
    action2.duration = selectedActions.value.action2.duration || 1;
    action2.diceModifier = selectedActions.value.action2.diceModifier || 0;
    action2.iniMalus = selectedActions.value.action2.iniMalus || 0;

    if (action1.duration > 1) {
      action2.name = action1.name;
      action2.iniMalus = action1.iniMalus;
      action2.duration = action1.duration - 1;
      action2.diceModifier = action1.diceModifier;
    }
    if (action2.duration > 1) {
      props.simulation.combatants.forEach((com: Combatant) => {
        if (com.id === combatant?.id)
          com.longerAction = {
            name: action2.name,
            duration: action2.duration - 1,
            iniMalus: action2.iniMalus,
            diceModifier: action2.diceModifier,
            type: action2.type,
          };
      });
    } else {
      props.simulation.combatants.forEach((com: Combatant) => {
        if (com.id === combatant?.id) {
          com.longerAction = undefined;
        }
      });
    }

    if (
      action1.name === Action.attack.name &&
      action2.name === Action.defense.name
    ) {
      action1.iniMalus = 0;
      action1.diceModifier = 0;
      action2.iniMalus = -0;
      action2.diceModifier = -0;
    }
    if (
      action1.name === Action.defense.name &&
      action2.name === Action.attack.name
    ) {
      action1.iniMalus = 0;
      action1.diceModifier = -4;
      action2.iniMalus = -8;
      action2.diceModifier = -4;
    }
    if (
      action1.name === Action.attack.name &&
      action2.name === Action.attack.name
    ) {
      action1.iniMalus = 0;
      action1.diceModifier = 0;
      action2.iniMalus = -8;
      action2.diceModifier = -4;
    }
    if (
      action1.name === Action.defense.name &&
      action2.name === Action.defense.name
    ) {
      action1.iniMalus = 0;
      action1.diceModifier = -4;
      action2.iniMalus = 0;
      action2.diceModifier = 0;
    }
    if (
      (action1.name === Action.attack.name ||
        action1.name === Action.defense.name) &&
      action2.name === Action.move.name
    ) {
      action1.iniMalus = 0;
      action1.diceModifier = -4;
      action2.iniMalus = 0;
      action2.diceModifier = 0;
    }
    if (
      action1.name === Action.move.name &&
      action2.name === Action.attack.name
    ) {
      action1.iniMalus = 0;
      action1.diceModifier = 0;
      action2.iniMalus = -8;
      action2.diceModifier = -4;
    }
    if (
      action1.name === Action.move.name &&
      action2.name === Action.defense.name
    ) {
      action1.iniMalus = 0;
      action1.diceModifier = 0;
      action2.iniMalus = 0;
      action2.diceModifier = -4;
    }
    combatant.action1 = action1;
    combatant.action2 = action2;
    if (props.simulation.combatPhase === "combat") {
      props.simulation.announcementRound.forEach((com: Combatant) => {
        if (com.id === combatant?.id) {
          com.action1 = action1;
          com.action2 = action2;
        }
      });
    }
  },
  { deep: true }
);
</script>

<template>
  <n-card :title="currentCombatant?.name">
    <n-space vertical>
      <n-space>
        <n-statistic label="LeP" :value="currentCombatant?.currentHP">
          <template #prefix>
            <n-icon>
              <HeartHalfSharp />
            </n-icon>
          </template>
          <template #suffix> / {{ currentCombatant?.maxHP }} </template>
        </n-statistic>
        <n-statistic label="Wunden" :value="currentCombatant?.wounds">
          <template #prefix>
            <n-icon>
              <HeartBrokenFilled />
            </n-icon>
          </template>
        </n-statistic>
      </n-space>
      <n-space>
        <SpecialAbilityTag
          v-if="currentCombatant?.combatReflexes"
          :special-ability="SpecialAbility.combatReflexes"
        />
        <SpecialAbilityTag
          v-if="currentCombatant?.combatSense"
          :special-ability="SpecialAbility.combatSense"
        />
        <SpecialAbilityTag
          v-if="currentCombatant?.awareness"
          :special-ability="SpecialAbility.awareness"
        />
        <SpecialAbilityTag
          v-if="currentCombatant?.iron"
          :special-ability="SpecialAbility.iron"
        />
        <SpecialAbilityTag
          v-if="currentCombatant?.glassBones"
          :special-ability="SpecialAbility.glassBones"
        />
        <SpecialAbilityTag
          v-if="currentCombatant?.toughDog"
          :special-ability="SpecialAbility.toughDog"
        />
        <SpecialAbilityTag
          v-if="currentCombatant?.bladeDancerInitiativeMod > 0"
          :special-ability="SpecialAbility.bladeDancer"
        />
      </n-space>
      <n-alert
        v-if="currentCombatant?.status() === combatantStatus.incapacitated"
        type="warning"
      >
        Dieser Held ist Kampfunfähig.
      </n-alert>
      <n-alert
        v-if="
          currentCombatant?.status() ===
          combatantStatus.lifeThreateninglyInjured
        "
        type="error"
      >
        Dieser Held ist lebensbedrohlich verletzt.
      </n-alert>
      <n-alert
        v-if="currentCombatant?.status() === combatantStatus.dead"
        type="default"
      >
        Dieser Held ist tot.
      </n-alert>
    </n-space>
    <n-space vertical v-if="props.simulation.combatPhase === 'building'">
      <n-h3 v-if="currentCombatant?.notes">Bemerkungen</n-h3>
      <n-input
        v-if="currentCombatant?.notes"
        v-model:value="currentCombatant.notes"
        type="textarea"
        placeholder="Bemerkungen"
        :autosize="true"
        disabled
      />
    </n-space>
    <n-space vertical v-if="props.simulation.combatPhase === 'announcement'">
      <n-alert
        v-if="currentCombatant?.awareness"
        title="Aufmerksamkeit"
        type="warning"
      >
        Dieser Held muss nicht ansagen.
      </n-alert>
      <div>
        <n-card title="erste Aktion">
          <n-input-group>
            <n-input-group-label>Erste&nbsp;Aktion:</n-input-group-label>
            <n-select
              placeholder="erste Aktion"
              :options="actionSelectionOptions"
              v-model:value="selectedActions.action1.name"
            />
            <n-input-group-label>Malus:</n-input-group-label>
            <n-input-number
              v-model:value="selectedActions.action1.diceModifier"
              placeholder="Malus"
              :max="0"
            />
            <n-input-group-label>Dauer:</n-input-group-label>
            <n-input-number
              v-model:value="selectedActions.action1.duration"
              placeholder="Dauer"
              :min="1"
            /> </n-input-group
        ></n-card>
        <n-alert v-if="currentCombatant?.action1?.iniMalus < 0" type="warning">
          Diese Aktion hat einen Initiative Malus von
          {{ currentCombatant?.action1?.iniMalus }}
        </n-alert>
        <n-alert
          v-if="currentCombatant?.action1?.diceModifier < 0"
          type="warning"
        >
          Diese Aktion hat einen Talent Malus von
          {{ currentCombatant?.action1?.diceModifier }}
        </n-alert>
        <n-card title="zweite Aktion">
          <n-input-group>
            <n-input-group-label>Zweite&nbsp;Aktion:</n-input-group-label>
            <n-select
              placeholder="zweite Aktion"
              :options="actionSelectionOptions"
              v-model:value="selectedActions.action2.name"
              :disabled="selectedActions.action1.duration > 1"
            />
            <n-input-group-label>Malus:</n-input-group-label>
            <n-input-number
              v-model:value="selectedActions.action2.diceModifier"
              placeholder="Malus"
              :max="0"
              :disabled="selectedActions.action1.duration > 1"
            />
            <n-input-group-label>Dauer:</n-input-group-label>
            <n-input-number
              v-model:value="selectedActions.action2.duration"
              placeholder="Dauer"
              :min="1"
              :disabled="selectedActions.action1.duration > 1"
            /> </n-input-group
        ></n-card>
        <n-alert v-if="currentCombatant?.action2?.iniMalus < 0" type="warning">
          Diese Aktion hat einen Initiative Malus von
          {{ currentCombatant?.action2?.iniMalus }}
        </n-alert>
        <n-alert
          v-if="currentCombatant?.action2?.diceModifier < 0"
          type="warning"
        >
          Diese Aktion hat einen Talent Malus von
          {{ currentCombatant?.action2?.diceModifier }}
        </n-alert>
      </div>
      <n-h3 v-if="currentCombatant?.notes">Bemerkungen</n-h3>
      <n-input
        v-if="currentCombatant?.notes"
        v-model:value="currentCombatant.notes"
        type="textarea"
        placeholder="Bemerkungen"
        :autosize="true"
        disabled
      />
    </n-space>
    <n-space vertical v-if="props.simulation.combatPhase === 'combat'">
      <div
        v-if="
          currentCombatant?.awareness && !currentCombatant?.awarenessSelected
        "
      >
        <n-alert title="Aufmerksamkeit" type="error">
          Dieser Held muss JETZT ansagen.
        </n-alert>
        <n-card title="erste Aktion">
          <n-input-group>
            <n-input-group-label>Erste&nbsp;Aktion:</n-input-group-label>
            <n-select
              placeholder="erste Aktion"
              :options="actionSelectionOptions"
              v-model:value="selectedActions.action1.name"
            />
            <n-input-group-label>Malus:</n-input-group-label>
            <n-input-number
              v-model:value="selectedActions.action1.diceModifier"
              placeholder="Malus"
              :min="0"
            />
            <n-input-group-label>Dauer:</n-input-group-label>
            <n-input-number
              v-model:value="selectedActions.action1.duration"
              placeholder="Dauer"
              :min="1"
            /> </n-input-group
        ></n-card>
        <n-alert v-if="currentCombatant?.action1?.iniMalus < 0" type="warning">
          Diese Aktion hat einen Initiative Malus von
          {{ currentCombatant?.action1?.iniMalus }}
        </n-alert>
        <n-alert
          v-if="currentCombatant?.action1?.diceModifier < 0"
          type="warning"
        >
          Diese Aktion hat einen Talent Malus von
          {{ currentCombatant?.action1?.diceModifier }}
        </n-alert>
        <n-card title="zweite Aktion">
          <n-input-group>
            <n-input-group-label>Zweite&nbsp;Aktion:</n-input-group-label>
            <n-select
              placeholder="zweite Aktion"
              :options="actionSelectionOptions"
              v-model:value="selectedActions.action2.name"
            />
            <n-input-group-label>Malus:</n-input-group-label>
            <n-input-number
              v-model:value="selectedActions.action2.diceModifier"
              placeholder="Malus"
              :min="0"
            />
            <n-input-group-label>Dauer:</n-input-group-label>
            <n-input-number
              v-model:value="selectedActions.action2.duration"
              placeholder="Dauer"
              :min="1"
            /> </n-input-group
        ></n-card>
        <n-alert v-if="currentCombatant?.action2?.iniMalus < 0" type="warning">
          Diese Aktion hat einen Initiative Malus von
          {{ currentCombatant?.action2?.iniMalus }}
        </n-alert>
        <n-alert
          v-if="currentCombatant?.action2?.diceModifier < 0"
          type="warning"
        >
          Diese Aktion hat einen Talent Malus von
          {{ currentCombatant?.action2?.diceModifier }}
        </n-alert>
        <n-button @click="handleCombatPhaseAwarenessSelection" type="success"
          >Ansagen</n-button
        >
      </div>
      <n-input-group>
        <n-input-group-label>Lebenspunkte Veränderung</n-input-group-label>
        <n-input-number v-model:value="heroHPChange" />
        <n-popover trigger="hover">
          <template #trigger>
            <n-checkbox style="padding: 10px" v-model:checked="bluntWeapon"
              >Stumpfe Waffe</n-checkbox
            >
          </template>
          <span>Stumpfe Waffen erhöhen die Wundschwelle des Getroffenen.</span>
        </n-popover>
        <n-button
          @click="
            props.simulation.updateCombatantHP(
              currentCombatant?.id,
              heroHPChange,
              bluntWeapon,
              currentCombatant?.selectedActionNumber
            )
          "
          >Verändern</n-button
        >
      </n-input-group>
      <n-h3 v-if="currentCombatant?.notes">Bemerkungen</n-h3>
      <n-input
        v-if="currentCombatant?.notes"
        v-model:value="currentCombatant.notes"
        type="textarea"
        placeholder="Bemerkungen"
        :autosize="true"
        disabled
      />
    </n-space>
    <template #action>
      <n-button
        @click="props.simulation.removeCombatant(currentCombatant?.id)"
        type="error"
        secondary
        style="width: 100%"
      >
        <template #icon>
          <n-icon :component="CloseFilled" />
        </template>
        Held löschen
      </n-button>
    </template>
  </n-card>
</template>

<style scoped lang="scss"></style>
