<script setup lang="ts">
import {
  NCard,
  NCheckbox,
  NIcon,
  NSelect,
  NSpace,
  NTimeline,
  NTimelineItem,
} from "naive-ui";
import type { Combatant, CombatSimulation } from "@/schemas";
import {
  Action,
  ActionType,
  combatantStatus,
  getNSelectOptionsFromAction,
  pointerStatusColor,
} from "@/schemas";
import { Accessibility20Filled, Accessibility20Regular } from "@vicons/fluent";
import { SkullOutline, SkullSharp } from "@vicons/ionicons5";
import {
  LocalPharmacyOutlined,
  LocalPharmacyFilled,
  PersonalInjuryFilled,
  PersonalInjuryOutlined,
} from "@vicons/material";
import type { Component } from "vue";

const props = defineProps<{
  simulation: CombatSimulation;
}>();

function getTimelineItemColor(index: number): pointerStatusColor {
  if (props.simulation.getCurrentPointer() === index)
    return pointerStatusColor.green;
  if (props.simulation.getCurrentPointer() > index)
    return pointerStatusColor.red;
  return pointerStatusColor.yellow;
}
function getTimelineIcon(index: number): Component {
  const combatant = props.simulation.getCurrentList()[index];
  const pointer = props.simulation.getCurrentPointer();
  if (combatant) {
    const status = combatant.status();
    if (status === combatantStatus.dead) {
      if (index === pointer) {
        return SkullSharp;
      }
      return SkullOutline;
    }
    if (status === combatantStatus.lifeThreateninglyInjured) {
      if (index === pointer) {
        return LocalPharmacyFilled;
      }
      return LocalPharmacyOutlined;
    }
    if (status === combatantStatus.incapacitated) {
      if (index === pointer) {
        return PersonalInjuryFilled;
      }
      return PersonalInjuryOutlined;
    }
    if (index === pointer) {
      return Accessibility20Filled;
    }
  }
  return Accessibility20Regular;
}
function getFreeActionColor(index: number): string {
  if (props.simulation.getCurrentPointer() === index)
    return "rgba(255,0,0,0.03)";
  return "rgba(0,255,0,0.03)";
}
function getTimelineHeader(combatant: Combatant) {
  if (combatant.awareness && !combatant.awarenessSelected)
    return `${combatant.name} (Ansagen)`;
  return `${combatant.name} (${combatant.selectedAction?.name})`;
}
</script>

<template>
  <n-card title="Timeline">
    <n-timeline
      size="large"
      :icon-size="24"
      v-if="props.simulation.combatPhase === 'building'"
    >
      <n-timeline-item
        v-for="(combatant, index) in props.simulation.combatants"
        :title="combatant.name"
        :time="`Initiative: ${combatant.initiative()}`"
        :color="pointerStatusColor.green"
        :key="index"
      >
        <template #icon>
          <n-icon
            @click="props.simulation.setPointer(index)"
            style="cursor: pointer"
            :component="getTimelineIcon(index)"
          />
        </template>
      </n-timeline-item>
    </n-timeline>
    <n-timeline
      size="large"
      :icon-size="24"
      v-if="props.simulation.combatPhase === 'announcement'"
    >
      <n-timeline-item
        v-for="(combatant, index) in props.simulation.announcementRound"
        :title="combatant.name"
        :time="`Initiative: ${combatant.initiative()}`"
        :color="getTimelineItemColor(index)"
        :key="index"
      >
        <template #icon>
          <n-icon
            @click="props.simulation.setPointer(index)"
            style="cursor: pointer"
            :component="getTimelineIcon(index)"
          />
        </template>
      </n-timeline-item>
    </n-timeline>
    <n-timeline
      size="large"
      :icon-size="24"
      v-if="props.simulation.combatPhase === 'combat'"
    >
      <n-timeline-item
        v-for="(combatant, index) in props.simulation.combatRound"
        :title="getTimelineHeader(combatant)"
        :time="`Initiative: ${combatant.actionInitiative}`"
        :color="getTimelineItemColor(index)"
        :key="index"
      >
        <template #icon>
          <n-icon
            @click="props.simulation.setPointer(index)"
            style="cursor: pointer"
            :component="getTimelineIcon(index)"
          />
        </template>
        <n-space
          vertical
          v-if="
            !combatant.awareness ||
            (combatant.awareness && combatant.awarenessSelected)
          "
        >
          <n-select
            size="small"
            placeholder="Freie Aktion"
            clearable
            :options="getNSelectOptionsFromAction([ActionType.free])"
            :style="{ 'background-color': getFreeActionColor(index) }"
            v-model:value="combatant.freeAction1"
            :on-update:value="
              (value) => {
                props.simulation.updateCombatantFreeAction1(
                  value,
                  combatant.id
                );
              }
            "
          />
          <n-select
            size="small"
            placeholder="Freie Aktion"
            clearable
            :options="getNSelectOptionsFromAction([ActionType.free])"
            :style="{ 'background-color': getFreeActionColor(index) }"
            v-model:value="combatant.freeAction2"
            :on-update:value="
              (value) => {
                props.simulation.updateCombatantFreeAction2(
                  value,
                  combatant.id
                );
              }
            "
          />
          <n-checkbox
            v-if="
              combatant.action1 &&
              combatant.action1.name === Action.defense.name
            "
            :style="{ 'background-color': getFreeActionColor(index) }"
            v-model:checked="combatant.defenseAction1"
            :on-update:checked="
              (checked) => {
                props.simulation.updateCombatantDefenseAction1(
                  checked,
                  combatant.id
                );
              }
            "
          >
            {{
              `${Action.defense.name}${
                combatant.action1.diceModifier < 0
                  ? " (" + combatant.action1.diceModifier + ")"
                  : ""
              }`
            }}
          </n-checkbox>
          <n-checkbox
            v-if="
              combatant.action2 &&
              combatant.action2.name === Action.defense.name
            "
            :style="{ 'background-color': getFreeActionColor(index) }"
            v-model:checked="combatant.defenseAction2"
            :on-update:checked="
              (checked) => {
                props.simulation.updateCombatantDefenseAction2(
                  checked,
                  combatant.id
                );
              }
            "
          >
            {{
              `${Action.defense.name}${
                combatant.action2.diceModifier < 0
                  ? " (" + combatant.action2.diceModifier + ")"
                  : ""
              }`
            }}
          </n-checkbox>
        </n-space>
      </n-timeline-item>
    </n-timeline>
  </n-card>
</template>

<style scoped lang="scss"></style>
