<script setup lang="ts">
import {
  NCard,
  NEllipsis,
  NList,
  NListItem,
  NInputNumber,
  NSpace,
  NInputGroup,
  NInputGroupLabel,
  NButton,
} from "naive-ui";
import { ref } from "vue";
import { Book, Reference } from "@/schemas";

const attackBasis = ref({ mu: 0, ge: 0, kk: 0 });
const paradeBasis = ref({ in: 0, ge: 0, kk: 0 });
const rangedBasis = ref({ mu: 0, ff: 0, kk: 0 });
const initiativeBasis = ref({ mu: 0, in: 0, ge: 0 });

const references = [new Reference(Book.wds, [45])];
</script>

<template>
  <n-card title="Basisregeln">
    <n-ellipsis>
      Diese Übersicht erklärt die Basisregeln des Kampfes. [...]
      <br />
      <br />
      Weitere Referenzen:
      <ul>
        <li v-for="reference in references" :key="reference.str">
          {{ reference.str }}
        </li>
      </ul>
    </n-ellipsis>
    <n-list>
      <n-list-item>
        <template #prefix>
          <n-button :style="{ width: '180px' }">Attacke Basiswert</n-button>
        </template>
        <n-space>
          <n-input-group :style="{ display: 'flex', 'align-items': 'center' }">
            <n-input-group-label :style="{ width: '8%' }"
              >(MU:</n-input-group-label
            >
            <n-input-number
              v-model:value="attackBasis.mu"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="MU"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }"
              >GE:</n-input-group-label
            >
            <n-input-number
              v-model:value="attackBasis.ge"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="GE"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }"
              >KK:</n-input-group-label
            >
            <n-input-number
              v-model:value="attackBasis.kk"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="KK"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }">{{
              `)/5=${(attackBasis.mu + attackBasis.ge + attackBasis.kk) / 5}`
            }}</n-input-group-label>
          </n-input-group>
        </n-space>
      </n-list-item>
      <n-list-item>
        <template #prefix>
          <n-button :style="{ width: '180px' }">Parade Basiswert</n-button>
        </template>
        <n-space>
          <n-input-group :style="{ display: 'flex', 'align-items': 'center' }">
            <n-input-group-label :style="{ width: '8%' }"
              >(IN:</n-input-group-label
            >
            <n-input-number
              v-model:value="paradeBasis.in"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="MU"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }"
              >GE:</n-input-group-label
            >
            <n-input-number
              v-model:value="paradeBasis.ge"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="GE"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }"
              >KK:</n-input-group-label
            >
            <n-input-number
              v-model:value="paradeBasis.kk"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="KK"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }">{{
              `)/5=${(paradeBasis.in + paradeBasis.ge + paradeBasis.kk) / 5}`
            }}</n-input-group-label>
          </n-input-group>
        </n-space>
      </n-list-item>
      <n-list-item>
        <template #prefix>
          <n-button :style="{ width: '180px' }">Fernkampf Basiswert</n-button>
        </template>
        <n-space>
          <n-input-group :style="{ display: 'flex', 'align-items': 'center' }">
            <n-input-group-label :style="{ width: '8%' }"
              >(IN:</n-input-group-label
            >
            <n-input-number
              v-model:value="rangedBasis.mu"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="MU"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }"
              >FF:</n-input-group-label
            >
            <n-input-number
              v-model:value="rangedBasis.ff"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="GE"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }"
              >KK:</n-input-group-label
            >
            <n-input-number
              v-model:value="rangedBasis.kk"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="KK"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }">{{
              `)/5=${(rangedBasis.mu + rangedBasis.ff + rangedBasis.kk) / 5}`
            }}</n-input-group-label>
          </n-input-group>
        </n-space>
      </n-list-item>
      <n-list-item>
        <template #prefix>
          <n-button :style="{ width: '180px' }">Initiative Basiswert</n-button>
        </template>
        <n-space>
          <n-input-group :style="{ display: 'flex', 'align-items': 'center' }">
            <n-input-group-label :style="{ width: '8%' }"
              >(2xMU:</n-input-group-label
            >
            <n-input-number
              v-model:value="initiativeBasis.mu"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="MU"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }"
              >IN:</n-input-group-label
            >
            <n-input-number
              v-model:value="initiativeBasis.in"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="GE"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }"
              >GE:</n-input-group-label
            >
            <n-input-number
              v-model:value="initiativeBasis.ge"
              :style="{ width: '6%' }"
              :min="0"
              placeholder="KK"
              :clearable="false"
              :show-button="false"
            />
            <n-input-group-label :style="{ width: '8%' }">{{
              `)/5=${
                (2 * initiativeBasis.mu +
                  initiativeBasis.in +
                  initiativeBasis.ge) /
                5
              }`
            }}</n-input-group-label>
          </n-input-group>
        </n-space>
      </n-list-item>
    </n-list>
  </n-card>
</template>

<style scoped lang="scss"></style>
