<script setup lang="ts">
import {
  NButton,
  NCard,
  NCheckbox,
  NCollapse,
  NCollapseItem,
  NH1,
  NH2,
  NH3,
  NInput,
  NInputGroup,
  NInputGroupLabel,
  NInputNumber,
  NLi,
  NModal,
  NSpace,
  NText,
  NUl,
  NUpload,
  NUploadDragger,
} from "naive-ui";
import { reactive, ref } from "vue";
import {
  Book,
  Combatant,
  CombatSimulation,
  pointerStatusColor,
  Reference,
} from "@/schemas";
import HeroView from "@/components/tools/combatSimulation/HeroView.vue";
import Timeline from "@/components/tools/combatSimulation/Timeline.vue";
import LogEntry from "@/components/global/thematic/LogEntry.vue";
import FileSaver from "file-saver";
import { UploadCustomRequestOptions } from "naive-ui/lib";

const newCombatantName = ref("Heldin0");
const newCombatantCurrentHP = ref(15);
const newCombatantMaxHP = ref(20);
const newCombatantBaseInitiative = ref(8);
const newCombatantBonusInitiative = ref(4);
const newCombatantArmorBE = ref(0);
const newCombatantWeaponMod = ref(0);
const newCombatantConstitution = ref(10);
const newCombatantBladeDancer = ref(0);
const newCombatantCombatReflexes = ref(false);
const newCombatantCombatSense = ref(false);
const newCombatantAwareness = ref(false);
const newCombatantIron = ref(false);
const newCombatantGlassBones = ref(false);
const newCombatantToughDog = ref(false);
const newCombatantNotes = ref("");
const uploadModalVisible = ref(false);
const uploadModalFileUploadVisible = ref(false);
const importedState = ref<string | null>(null);

function resetNewCombatantData() {
  newCombatantName.value = `Heldin${combatSimulation.value.combatants.length}`;
  newCombatantCurrentHP.value = 15;
  newCombatantMaxHP.value = 20;
  newCombatantBaseInitiative.value = 8;
  newCombatantBonusInitiative.value = 4;
  newCombatantArmorBE.value = 0;
  newCombatantWeaponMod.value = 0;
  newCombatantConstitution.value = 10;
  newCombatantBladeDancer.value = 0;
  newCombatantCombatReflexes.value = false;
  newCombatantCombatSense.value = false;
  newCombatantAwareness.value = false;
  newCombatantIron.value = false;
  newCombatantGlassBones.value = false;
  newCombatantToughDog.value = false;
  newCombatantNotes.value = "";
}

function addNewCombatant() {
  combatSimulation.value.addNewCombatant(
    new Combatant(
      newCombatantName.value,
      newCombatantCurrentHP.value,
      newCombatantMaxHP.value,
      newCombatantConstitution.value,
      newCombatantBaseInitiative.value,
      newCombatantBonusInitiative.value,
      newCombatantArmorBE.value,
      newCombatantWeaponMod.value,
      newCombatantBladeDancer.value,
      newCombatantCombatReflexes.value,
      newCombatantCombatSense.value,
      newCombatantAwareness.value,
      newCombatantIron.value,
      newCombatantGlassBones.value,
      newCombatantToughDog.value,
      newCombatantNotes.value
    )
  );
  resetNewCombatantData();
}

function combatStep() {
  combatSimulation.value.combatStep();
}

const actionReferences = [new Reference(Book.wds, [54])];

const combatSimulation = ref<CombatSimulation>(
  reactive(new CombatSimulation())
);
function compatControlButtonNextLabel(): string {
  if (combatSimulation.value.combatPhase === "building") return "Kampf starten";
  if (combatSimulation.value.pointerAtEndOfList()) return "Nächte Phase";
  return "Nächter Teilnehmer";
}

function exportState() {
  const state = combatSimulation.value.exportToJSON();
  const blob = new Blob([state], { type: "application/json;charset=utf-8" });
  FileSaver.saveAs(blob, "simulation.json");
}

function importClick() {
  importedState.value = null;
  uploadModalFileUploadVisible.value = true;
  uploadModalVisible.value = true;
}
function quickEdit() {
  importedState.value = combatSimulation.value.exportToJSON();
  uploadModalFileUploadVisible.value = false;
  uploadModalVisible.value = true;
}

function importState() {
  if (!importedState.value) return;
  combatSimulation.value.importFromJSON(importedState.value);
  uploadModalVisible.value = false;
}
function reset() {
  combatSimulation.value = reactive(new CombatSimulation());
}
async function handleFileImport(options: UploadCustomRequestOptions) {
  const data = await options.file.file?.text();
  if (!data) return;
  importedState.value = data;
}
</script>

<template>
  <n-card title="Kampf Organisator">
    <n-space vertical>
      <n-card style="width: 100%">
        <n-collapse>
          <n-collapse-item title="Neue Kampfteilnehmerin" name="new">
            <n-space vertical>
              <n-h3>Basis Eigenschaften</n-h3>
              <n-input-group>
                <n-input-group-label :style="{ width: '15%' }"
                  >Name</n-input-group-label
                >
                <n-input
                  v-model:value="newCombatantName"
                  :style="{ width: '45%' }"
                />
              </n-input-group>
              <n-input-group>
                <n-input-group-label :style="{ width: '15%' }"
                  >aktuelle&nbsp;LeP</n-input-group-label
                >
                <n-input-number
                  v-model:value="newCombatantCurrentHP"
                  :min="0"
                  :style="{ width: '15%' }"
                />
                <n-input-group-label :style="{ width: '15%' }"
                  >maximale&nbsp;LeP</n-input-group-label
                >
                <n-input-number
                  v-model:value="newCombatantMaxHP"
                  :min="0"
                  :style="{ width: '15%' }"
                />
              </n-input-group>
              <n-input-group>
                <n-input-group-label :style="{ width: '30%' }"
                  >Konstitution</n-input-group-label
                >
                <n-input-number
                  v-model:value="newCombatantConstitution"
                  :min="0"
                  :style="{ width: '30%' }"
                />
              </n-input-group>
              <n-h3>Initiative</n-h3>
              <n-input-group>
                <n-input-group-label :style="{ width: '15%' }"
                  >Basis&nbsp;Initiative</n-input-group-label
                >
                <n-input-number
                  v-model:value="newCombatantBaseInitiative"
                  :min="0"
                  :style="{ width: '15%' }"
                />
                <n-input-group-label :style="{ width: '15%' }"
                  >1W6&nbsp;Bonus</n-input-group-label
                >
                <n-input-number
                  v-model:value="newCombatantBonusInitiative"
                  :min="0"
                  :max="6"
                  :style="{ width: '15%' }"
                />
              </n-input-group>
              <n-input-group>
                <n-input-group-label :style="{ width: '17%' }"
                  >Waffenmodifikator</n-input-group-label
                >
                <n-input-number
                  v-model:value="newCombatantWeaponMod"
                  :min="-3"
                  :max="3"
                  :style="{ width: '13%' }"
                />
                <n-input-group-label :style="{ width: '17%' }"
                  >Rüstungs&#8209;BE</n-input-group-label
                >
                <n-input-number
                  v-model:value="newCombatantArmorBE"
                  :min="0"
                  :style="{ width: '13%' }"
                />
              </n-input-group>
              <n-h3>Sonderfertigkeiten</n-h3>
              <n-checkbox v-model:checked="newCombatantCombatReflexes">
                Kampfreflexe
              </n-checkbox>
              <n-checkbox v-model:checked="newCombatantCombatSense">
                Kampfgespür
              </n-checkbox>
              <n-checkbox v-model:checked="newCombatantAwareness">
                Aufmerksamkeit
              </n-checkbox>
              <n-checkbox v-model:checked="newCombatantIron">
                Eisern
              </n-checkbox>
              <n-checkbox v-model:checked="newCombatantGlassBones">
                Glasknochen
              </n-checkbox>
              <n-checkbox v-model:checked="newCombatantToughDog">
                Zäher Hund
              </n-checkbox>
              <n-input-group>
                <n-input-group-label :style="{ width: '30%' }"
                  >Klingentänzer</n-input-group-label
                >
                <n-input-number
                  v-model:value="newCombatantBladeDancer"
                  :min="0"
                  :max="6"
                  :style="{ width: '30%' }"
                />
              </n-input-group>
              <n-h3>Bemerkungen</n-h3>
              <n-input-group>
                <n-input
                  v-model:value="newCombatantNotes"
                  type="textarea"
                  placeholder="Bemerkungen"
                  :autosize="true"
                />
              </n-input-group>
              <n-space>
                <n-button type="info" @click="addNewCombatant"
                  >Hinzufügen</n-button
                >
                <span
                  v-if="combatSimulation.roundCounter > 0"
                  :style="{
                    'background-color': pointerStatusColor.red,
                    'font-size': '24px',
                  }"
                  >Kampf bereits im Gange. Neue Teilnehmer erscheinen zu Beginn
                  der nächsten Runde.</span
                >
              </n-space>
            </n-space>
          </n-collapse-item>
        </n-collapse>
        <n-card
          title="Kampfsteuerung"
          v-if="combatSimulation.combatants.length > 0"
        >
          <n-space vertical>
            <n-space justify="space-between">
              <n-h1
                prefix="bar"
                align-text
                :type="
                  combatSimulation.combatPhase === 'announcement'
                    ? 'warning'
                    : combatSimulation.combatPhase === 'combat'
                    ? 'error'
                    : 'success'
                "
              >
                <n-text
                  :type="
                    combatSimulation.combatPhase === 'announcement'
                      ? 'warning'
                      : combatSimulation.combatPhase === 'combat'
                      ? 'error'
                      : 'success'
                  "
                >
                  Modus:
                  {{
                    combatSimulation.combatPhase === "announcement"
                      ? "Ansage"
                      : combatSimulation.combatPhase === "combat"
                      ? "Kampf"
                      : "Aufstellung"
                  }}
                </n-text>
              </n-h1>
              <n-h2
                prefix="bar"
                type="info"
                align-text
                v-if="combatSimulation.roundCounter > 0"
              >
                <n-text> Runde: {{ combatSimulation.roundCounter }}</n-text>
              </n-h2>
            </n-space>
            <n-text v-if="combatSimulation.combatPhase !== 'building'"
              >Die Ausführungen zu den Aktionen findet man in:</n-text
            >
            <n-ul v-if="combatSimulation.combatPhase !== 'building'">
              <n-li
                v-for="(reference, index) in actionReferences"
                :key="index"
                >{{ reference.str }}</n-li
              >
            </n-ul>
            <n-button @click="combatStep" type="info">{{
              compatControlButtonNextLabel()
            }}</n-button>
          </n-space>
        </n-card>
        <div
          style="display: flex"
          v-if="combatSimulation.getCurrentList().length > 0"
        >
          <Timeline :simulation="combatSimulation" style="width: 30%" />
          <HeroView :simulation="combatSimulation" />
        </div>
      </n-card>
      <n-card title="Log" style="width: 100%">
        <n-space vertical>
          <LogEntry
            v-for="(log, index) in combatSimulation.logs"
            :key="index"
            :log="log"
          />
        </n-space>
      </n-card>
    </n-space>
    <n-card title="Actions" style="width: 100%">
      <n-space>
        <n-button type="success" @click="exportState">Export</n-button>
        <n-button type="warning" @click="importClick">Import</n-button>
        <n-button type="warning" @click="quickEdit">QuickEdit</n-button>
        <n-button type="error" @click="reset">Reset</n-button>
      </n-space>
    </n-card>
  </n-card>
  <n-modal v-model:show="uploadModalVisible">
    <n-card
      title="Upload State"
      :bordered="false"
      size="huge"
      role="dialog"
      style="width: 80vw"
    >
      <n-space vertical>
        <n-upload
          v-if="uploadModalFileUploadVisible"
          directory-dnd
          :max="1"
          :custom-request="handleFileImport"
        >
          <n-upload-dragger>
            <n-text style="font-size: 16px">
              Click or drag a file to this area to upload
            </n-text>
          </n-upload-dragger>
        </n-upload>
        <n-input
          v-model:value="importedState"
          type="textarea"
          placeholder="Exported State"
          :autosize="true"
          style="min-height: 100px"
        />
      </n-space>
      <template #footer>
        <n-space justify="end" style="width: 100%">
          <n-button type="warning" @click="importState">Confirm</n-button>
        </n-space>
      </template>
    </n-card>
  </n-modal>
</template>

<style scoped lang="scss">
.spacer {
  display: flex;
}
.combatants-entry {
  font-size: 24px;
  border: solid black;
}
</style>
