<script setup lang="ts">
import MetaTalentCalc from "@/components/tools/metatalents/MetaTalentCalc.vue";
import { Talent, BaseAttribute, Reference, Book } from "@/schemas";

// these refs are needed because of funky behaviour in production otherwise
const faRef = [new Reference(Book.zba3, [60]), new Reference(Book.wds, [26])];
</script>

<template>
  <MetaTalentCalc
    name="Fischen/Angeln"
    :talents="[[Talent.fishing, 1]]"
    :attributes-to-roll="[BaseAttribute.in, BaseAttribute.ff, BaseAttribute.kk]"
    :time="1"
    :references="faRef"
  >
    Bei erfolgreicher Probe fängt der Held Fische im Wert einer Tagesration. Für
    jeweils <i>3 TaP*</i> kann er zusätzlich eine <b>halbe</b> Ration Fisch
    fangen.
  </MetaTalentCalc>
</template>

<style scoped></style>
