<script setup lang="ts">
import MetaTalentCalc from "@/components/tools/metatalents/MetaTalentCalc.vue";
import { Talent, BaseAttribute, Reference, Book } from "@/schemas";

// these refs are needed because of funky behaviour in production otherwise
const nsRef = [new Reference(Book.wds, [190])];
</script>

<template>
  <MetaTalentCalc
    name="Nahrung sammeln"
    :talents="[
      [Talent.wildlife, 1],
      [Talent.floraKnowledge, 1],
      [Talent.sensory, 1],
    ]"
    :attributes-to-roll="[BaseAttribute.mu, BaseAttribute.in, BaseAttribute.ff]"
    :time="1"
    :time-boni="[0.25, 1]"
    :references="nsRef"
  >
    Bei Erfolg findet der Sammler eine Tagesration, für je
    <i>3 TaP*</i> eine weitere.
  </MetaTalentCalc>
</template>

<style scoped></style>
