<script setup lang="ts">
import MetaTalentCalc from "@/components/tools/metatalents/MetaTalentCalc.vue";
import { SpecialAbility, Talent, BaseAttribute } from "@/schemas";

// these refs are needed because of funky behaviour in production otherwise
const kwRef = [];
const rarity = {
  "-8": -8,
  "-7": -7,
  "-6": -6,
  "-5": -5,
  "-4": -4,
  "-3": -3,
  "-2": -2,
  "-1": -1,
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
};
</script>

<template>
  <MetaTalentCalc
    name="Wache halten"
    :talents="[
      [Talent.selfControl, 2],
      [Talent.sensory, 1],
      [Talent.dankerSense, 1 / 3],
      [Talent.alleyKnowledge, 1 / 4],
      [Talent.wildlife, 1 / 4],
    ]"
    :attributes-to-roll="[BaseAttribute.mu, BaseAttribute.in, BaseAttribute.ko]"
    :difficulties="[rarity]"
    :time="1"
    :boni="[
      [SpecialAbility.suitingTerrainKnowledge, 1],
      [SpecialAbility.suitingLocalKnowledge, 1],
      [SpecialAbility.goodSensorySight, 1],
      [SpecialAbility.goodSensoryHearing, 1],
    ]"
    :xor-boni="[
      [
        [SpecialAbility.dawnVision, 1],
        [SpecialAbility.nightVision, 3],
      ],
    ]"
    :mali="[
      [SpecialAbility.claustrophobia, -1],
      [SpecialAbility.badSensorySight, -1],
      [SpecialAbility.badSensoryHearing, -1],
      [SpecialAbility.oneEyed, -2],
      [SpecialAbility.imaginations, -2],
      [SpecialAbility.erratic, -2],
      [SpecialAbility.darkAnxiety, -3],
      [SpecialAbility.nightBlind, -3],
    ]"
    :references="kwRef"
  >
    Bei mislungener Probe obliegt es dem Meister zu entscheiden was passiert.
    Das Feuer erlischt, weil man eingeschlafen ist, den Bären nicht hört oder
    nichts passiert, sind nur einige Vorschläge.
  </MetaTalentCalc>
</template>

<style scoped></style>
