<script setup lang="ts">
import MetaTalentCalc from "@/components/tools/metatalents/MetaTalentCalc.vue";
import {
  SpecialAbility,
  getRarityObject,
  Talent,
  BaseAttribute,
  Reference,
  Book,
} from "@/schemas";

// these refs are needed because of funky behaviour in production otherwise
const pjRef = [new Reference(Book.zba3, [59]), new Reference(Book.wds, [189])];

const rarity = getRarityObject();
rarity["Egal (0)"] = 0;
</script>

<template>
  <MetaTalentCalc
    name="Pirschjagd"
    :talents="[
      [Talent.wildlife, 1],
      [Talent.faunaKnowledge, 1],
      [Talent.sneak, 1],
      [Talent.tracking, 1],
      [Talent.anyRangedWeapon, 1],
    ]"
    :attributes-to-roll="[BaseAttribute.mu, BaseAttribute.in, BaseAttribute.ge]"
    :difficulties="[rarity]"
    :time="1"
    :boni="[
      [SpecialAbility.suitingTerrainKnowledge, 3],
      [SpecialAbility.suitingLocalKnowledge, 7],
    ]"
    :xor-boni="[
      [
        [SpecialAbility.sharpshooter, 3],
        [SpecialAbility.mastershooter, 7],
      ],
    ]"
    :xor-mali="[
      [
        ['Waffenreichweite maximal 20 Schritt', -7],
        ['Waffenreichweite maximal 50 Schritt', -3],
      ],
    ]"
    :references="pjRef"
  >
    Bei erfolgreicher Probe erlegt der Jäger ein Tier, das so viele
    Tagesrationen Fleisch ergibt, wie unter <i>Beute</i> angegeben. Für jeweils
    <i>Jagdchwierigkeit/2</i> übrig behaltene Tap* kann er ein weiteres Tier
    erjagen.
  </MetaTalentCalc>
</template>

<style scoped></style>
