<script setup lang="ts">
import MetaTalentCalc from "@/components/tools/metatalents/MetaTalentCalc.vue";
import {
  SpecialAbility,
  getRarityObject,
  Talent,
  BaseAttribute,
  Reference,
  Book,
} from "@/schemas";

// these refs are needed because of funky behaviour in production otherwise
const fsRef = [new Reference(Book.zba3, [60]), new Reference(Book.wds, [25])];

const rarity = getRarityObject();
rarity["Egal (0)"] = 0;
</script>

<template>
  <MetaTalentCalc
    name="Fallenstellen"
    :talents="[[Talent.trapping, 1]]"
    :attributes-to-roll="[BaseAttribute.kl, BaseAttribute.ff, BaseAttribute.kk]"
    :difficulties="[rarity]"
    :difficulty-flat="-5"
    :time="1"
    :boni="[
      [SpecialAbility.suitingTerrainKnowledge, 3],
      [SpecialAbility.suitingLocalKnowledge, 7],
    ]"
    :multiplicative-boni="[['Zeit lassen beim Fallen aufstellen', 1.5, 1.5]]"
    :references="fsRef"
  >
    Erst bei Kontrolle der Fallen wird die Probe gewürfelt. Bei Erfolg wird
    Beute im Wert einer ganzen Tagesration genafen, fuer jeweils
    <i>Jagdchwierigkeit/2</i> übrig behaltene TaP* eine weitere.
  </MetaTalentCalc>
</template>

<style scoped></style>
