<script setup lang="ts">
import { version } from "@/util";
import { NLayoutFooter } from "naive-ui";

const currentDate = new Date();
</script>

<template>
  <n-layout-footer bordered position="static" class="footer">
    <div style="margin-top: 2vh; text-align: center">
      Maximilian Dolling, {{ currentDate.getFullYear() }} · DSA-Tools ·
      {{ version }}
    </div>
  </n-layout-footer>
</template>

<style lang="scss" scoped>
.footer {
  height: 6vh;
}
</style>
