<script setup lang="ts">
import { isMobile, isTablet } from "@/util";
import { useRoute, useRouter } from "vue-router";
import { computed, ref } from "vue";
import { getSettingsStore } from "@/stores/settings";
import {
  NLayoutHeader,
  lightTheme,
  darkTheme,
  NPopover,
  NSwitch,
  NIcon,
} from "naive-ui";
import { DarkModeFilled, LightModeFilled } from "@vicons/material";

const route = useRoute();
const router = useRouter();
const settingsStore = getSettingsStore();

////////////////////////////////////////////////////////////////////////////////
//                             navigation                                     //
////////////////////////////////////////////////////////////////////////////////
function handleLogoClick() {
  if (route.name != "home") {
    router.push("/");
  }
}

////////////////////////////////////////////////////////////////////////////////
//                             optix                                          //
////////////////////////////////////////////////////////////////////////////////
function getPadding() {
  if (isMobile().value || isTablet().value) {
    return { "--side-padding": "16px" };
  }
  return { "--side-padding": "32px" };
}

const navStyle = ref(
  computed(() => {
    return {
      ...getPadding(),
      "grid-template-columns": "min-content auto min-content min-content",
    };
  })
);

function switchDarkMode() {
  if (switchDarkModeToggle.value) settingsStore.theme = lightTheme;
  else settingsStore.theme = darkTheme;
}
const switchDarkModeToggle = ref(true);
</script>

<template>
  <n-layout-header bordered class="nav" :style="navStyle">
    <div class="nav-logo" @click="handleLogoClick">
      <img src="@/assets/images/logo.svg" />
      <span v-if="!isMobile().value">DSA&#8209;Tools</span>
    </div>
    <div></div>
    <div class="settings">
      <n-switch
        size="large"
        @update:value="switchDarkMode"
        v-model:value="switchDarkModeToggle"
      >
        <template #unchecked>
          <n-icon :component="DarkModeFilled" />
        </template>
        <template #checked>
          <n-icon :component="LightModeFilled" />
        </template>
      </n-switch>
    </div>
    <div class="social">
      <n-popover trigger="hover">
        <template #trigger>
          <a href="https://gitlab.com/dsa-tools/static-dsa-tools">
            <img src="@/assets/images/logo_gitlab.svg" />
          </a>
        </template>
        <span>Das Projekt auf GitLab unterstützen</span>
      </n-popover>
    </div>
  </n-layout-header>
</template>

<style lang="scss" scoped>
.nav {
  display: grid;
  grid-template-rows: 6vh;
  align-items: center;
  padding: 0 var(--side-padding);

  .nav-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;

    img {
      margin-right: 12px;
      height: 32px;
      width: 32px;
    }
  }

  .settings {
    padding-right: 30px;
  }

  .social {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      img {
        height: 32px;
      }
    }
  }
}
</style>
